<% content_for :aside do %>
  <%= render partial: "info", locals: { user: current_user } %>
<% end %>

<%= render "shared/two_column_layout" do %>
  <header class="mb-8">
    <h1 class="text-4xl font-bold text-gray-900">Your reviews</h1>
  </header>
  <% if @reviews.any? %>
    <div class="space-y-6">
      <%= render partial: "profiles/reviews/review", collection: @reviews %>
    </div>
    <% if @pagy.pages > 1 %>
      <div class="mt-8">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  <% else %>
    <p class="text-gray-600 text-lg mt-6">No reviews yet. Leave a review on a book!</p>
  <% end %>
<% end %>
