<%# locals: (book:) -%>

<section class="mt-6 lg:mt-0 lg:ml-8" id="book-description">
  <div class="mb-4">
    <%= reviews_average(book.reviews) %>
  </div>
  <h1 class="text-3xl font-bold text-gray-800 mb-2"><%= book.title %></h1>
  <p class="text-xl text-gray-600 italic mb-6"><%= book.subtitle %></p>
  <%= link_to "Leave a review", new_book_review_path(book), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150", data: { turbo_frame: "modal" } if user_signed_in? %>
</section>
