<div class="flex flex-col items-center">
  <%= link_to book_path(book), class: "text-center" do %>
    <%= book_image(book, "w-48 h-72 object-cover rounded shadow-md mx-auto mb-4") %>
    <h3 class="text-lg font-semibold leading-tight"><%= book.title %></h3>
  <% end %>
</div>
