<div class="my-6 border-b pb-4">
  <%= render_stars(review.rating) %>
  <h3 class="text-lg font-semibold text-gray-700"><%= review.title %></h3>
  <p class="text-sm text-gray-500">By <%= review.user.nickname %></p>
  <p class="text-gray-600 mt-2"><%= review.description %></p>
</div>
